spring:
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/sky_take_out?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: CHANGE_ME
      password: CHANGE_ME
  redis:
    host: localhost
    port: 6379
    password: CHANGE_ME
    database: 10
  rabbitmq:
    host: localhost
    port: 5672
    username: CHANGE_ME
    password: CHANGE_ME

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.taotie.entity
  configuration:
    map-underscore-to-camel-case: true

taotie:
  jwt:
    admin-secret-key: CHANGE_ME
    admin-ttl: 7200000
    admin-token-name: token
    user-secret-key: CHANGE_ME
    user-ttl: 7200000
    user-token-name: authentication
  alioss:
    endpoint: oss-cn-hangzhou.aliyuncs.com
    access-key-id: CHANGE_ME
    access-key-secret: CHANGE_ME
    bucket-name: wy-itcast
  wechat:
    appid: CHANGE_ME
    secret: CHANGE_ME
  shop:
    address: 北京市海淀区上地十街10号
  baidu:
    ak: CHANGE_ME
